body {
    font-family: Bahnschrift, sans-serif;
    padding: 0;
    background-image: url('C:/Users/martyna-pc/Desktop/aa/CS_year3/AI-1/lab/lab5E/pexels-tlo.jpg');
    background-size: cover; 
    background-position: center;
}

header {
    /* background-color: rgba(128, 9, 158); */
    background-image: url('C:/Users/martyna-pc/Desktop/aa/CS_year3/AI-1/lab/lab5E/pexels-tlo3.jpg');
    background-size: cover; 
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px;
    
}

h1 {
    margin: 0;
    color: rgba(128, 9, 158);
}

h2 {
    margin: 0;
    font-style: italic;
    color: rgba(128, 9, 158);
}

main {
    padding: 20px;
}

h3 {
    color: rgba(128, 9, 158);
}

ul {
    list-style-type: circle;
    padding-left: 20px;
}

section {
    border: 2px dashed rgba(128, 9, 158); 
    padding: 20px; 
    border-radius: 10px; 
    margin-bottom: 20px; 
    background-color: rgba(128, 9, 158, 0.135);
}

footer {
    border: 2px dotted #dbb4dd;
    background-color:rgba(128, 9, 158);
    color: white;
    text-align: center;
    padding: 10px;
}

.destination-images {
    display: flex; 
    flex-wrap: wrap; 
    gap: 30px; 
    margin-top: 20px; 
    justify-content: center; 
}
.destination-images img {
    width: 100%; 
    max-width: 350px; 
    height: auto; 
}

.review-images {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    margin-top: 10px; 
}
.review-images img {
    width: 100%; 
    max-width: 220px; 
    height: auto; 
}


a {  /* kolor linku */
    color: rgb(221, 206, 222); 
    font-weight: bold;
}
a:hover {
    color: #ef5118;
}


@media (max-width: 375px) {
    header {
        padding: 50px 10px;
        background-size: cover;
        text-align: left;
    }
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px; 
    }

    main {
        padding: 10px;
    }

    section {
        margin-bottom: 10px;
        padding: 15px;
    }

    ul {
        padding-left: 15px;
    }

    .destination-images img, .review-images img {
        width: 100%; 
        height: auto;
    }

    footer {
        font-size: 14px;
        padding: 10px;
    }
}